.homepage-container {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
    /* max-height: 1200px; */
    width: 100%;
    max-width: 1450px;
    /* padding: 60px 20px 0px 100px; */
}
.homepage-subblock {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 8%;
    padding-bottom: 4%;
    margin-bottom: 30px;
}

.homepage-subblock-upper-left {
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-subblock-upper-left > div {
    max-width: 370px;
}
.homepage-subblock-upper-right {
    /* padding-left: 2%; */
    margin-top: 30px;
}
.homepage-subblock-upper-right img{
    /* border-top-left-radius: 50px; */
    /* border-bottom-left-radius: 50px; */
    /* border: 2px solid black; */
    max-height: 500px;
}
.homepage-subblock-lower-left {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
}
.homepage-subblock-lower-right {
    padding-left: 2%;
    padding-top: 2%;
}
.homepage-subblock-lower-right > div {
    max-width: 325px;
}
.homepage-container h1 {
    font-family: 'Brown', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}
.homepage-container p {
    font-family: 'Brown', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
/* .homepage-image {
    width: 50%;
} */
.homepage-container .homepage-subblock:last-child {
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .homepage-container h1 {
        font-size: 42px;
    }
    .homepage-container p {
        font-size: 20px;
    }
    .homepage-subblock {
        flex-direction: row;
    }
    .homepage-container .homepage-subblock:last-child {
        flex-direction: row;
    }
    .homepage-subblock > div {
        width: 50%
    }
    .homepage-subblock-upper-right {
        margin-top: 0;
    }
    .homepage-subblock-lower-left {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .homepage-container h1 {
        font-size: 60px;
    }
    .homepage-container p {
        font-size: 24px;
    }
}