.leads-list {
    padding: 0% 5%;
}
.leads-list-greybar {
    background-color: #F8F8F8;
    width: 100%;
    height: 32px;
}
.leads-list-table {

}
.leads-list-table table {
    width: 100%;
}
.leads-list-table table tr {
    border-bottom: 0.25px solid #959ba0;
}
.leads-list-table table tr th {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 20px 10px;
}
.leads-list-table table tr td {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}
@media (max-width: 575px) {
    .leads-list-table {
        /* display: none; */
    }
    .leads-list-mobile-section {
        display: block;
    }
    .leads-list-mobile-data {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .leads-list-mobile-data-block {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
    }
    .leads-list-mobile-data-row {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}