.reportsintro-container {
    background-color: white;
    /* border-radius: 10px; */
    margin: 0px auto;
    /* max-height: 1200px; */
    width: 100%;
    max-width: 1450px;
    padding-top: 50px;
    /* padding: 60px 20px 0px 100px; */
}
.reportsintro-upper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 0 15px;
}
.reportsintro-searchbar {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
}
.reportsintro-searchbar p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.reportsintro-features {
    padding-top: 20px;
    padding-bottom: 20px;
}
.reportsintro-features h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.reportsintro-features ul {
    max-width: 500px;
    margin: 20px auto 0;
}
.reportsintro-features ul p {
    margin-bottom: 1px;
}
.reportsintro-features ul li {
    display: flex;
    margin-bottom: 20px;
}
.reportsintro-features ul li i {
    color: #E4A14E;
    font-size: 24px;
    margin-right: 5px;
}
.reportsintro-features ul li p:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.reportsintro-features ul li p:last-child{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}
/* .reportsintro-report-credits {
    margin: 60px auto 0;
    max-width: 1450px;
} */
.reportsintro-report-credits {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    padding: 0;
}

.reportsintro-report-credits img {
    max-width: 25px;
    max-height: 28px;
    padding: 5px;
    margin: 3px;
}

.reportsintro-report-credits h1{
    font-family: 'Brown', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin: 5px;
}

.reportsintro-report-credits p {
    font-family: 'Brown', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 5px;
    
    /* padding-top: 1rem; */
}

.reportsintro-report-credits .pricing {
    display: flex;
    flex-direction: row;
}

.reportsintro-report-credits .pricing .line{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.reportsintro-report-credits .left-side{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

}
.reportsintro-report-credits .right-side{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.reportsintro-report-credits h2{
    font-family: 'Brown', sans-serif;
    font-size: 1.45rem;
    font-weight: 600;
    text-align: center;
    margin: 5px;
}

.reportsintro-report-credits .right-side p{
    font-family: 'Brown', sans-serif;
    font-size: 1rem;
    margin: 5px;
    padding: 3px 0;
}
.reportsintro-report-credits .left-side p{
    font-family: 'Brown', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 3px 0;
}

.reportsintro-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.5);
    border-radius: 4px;
    z-index: 999;
}
.reportsintro-popup.active {
    display: block;
}
.reportsintro-popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    max-width: 900px;
    min-width: 300px;
    min-height: 300px;
    /* font-family: 'Poppins', 'Roboto', Arial, Verdana, Helvetica, sans-serif; */
    background: #ffffff;
    z-index: 99;
    padding: 20px;
    overflow: auto;
}
.reportsintro-popup-header {
    border-bottom: 1px solid #D7DBE8;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.reportsintro-popup-header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.reportsintro-popup-options {
    margin-bottom: 20px;
}

.reportsintro-popup-options input[type=checkbox]{
    margin: 8px;
}

.reportsintro-popup-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.reportsintro-popup-option > div:last-child {
    padding-left: 42px;
    margin-top: 10px;
}
.reportsintro-popup-option-left {
    display: flex;
    margin-right: 10px;
}
.reportsintro-popup-option-left i{
    color: #E4A14E;
    font-size: 32px;
    margin-right: 5px;
}
.reportsintro-popup-option-left p{
    margin-bottom: 2px;
}
.reportsintro-popup-option-left p:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.reportsintro-popup-option-left p:last-child{
    margin-bottom: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.reportsintro-popup-options label {
    font-weight: 500;
    font-size: 16px;
}

.homepage-subblock-lower-left {
    display: flex;
    justify-content: center;
    flex: 1;
}

.homepage-subblock-lower-left img{
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.homepage-subblock-lower-right {
    flex: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.homepage-subblock-lower-right h1 {
    font-family: 'Brown', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin: 5px;
}

.homepage-subblock-lower-right p {
    font-family: 'Brown', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 5px;
    padding-top: 1rem;
}

.homepage-subblock-lower-right button {
    margin-top: 3rem;
    max-width: 300px;
    min-width: 300px;
}

.homepage-subblock div {
    width: 100%;
}

.leadgenintro-steps {
    display: flex;
    justify-content: space-between;
}
.leadgenintro-steps div{
    text-align: center;
    flex: 1;
    padding: 5px;
}
.leadgenintro-steps h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
}

.leadgenintro-steps p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.popup-option-header {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .homepage-subblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 3rem;
    }
    .homepage-subblock-lower-right button {
        margin-top: 1.5rem;
        max-width: 300px;
        min-width: 300px;
    }

    .leadgenintro-steps {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .leadgenintro-steps div{
        min-width: 100%;
        padding-right: 3px;
        text-align: center;
        flex: 1;
    }
    .reportsintro-report-credits .pricing {
        display: flex;
        flex-direction: column;
    }
    .reportsintro-report-credits .left-side{
        margin: 16px 0;
    
    }
    .reportsintro-report-credits .right-side{
        margin: 16px 0;
    }
}

@media (min-width: 768px) {
    .reportsintro-popup-container {
        width: 80%;
        height: 80vh;
        border-radius: 10px;
    }
    .reportsintro-popup-header h1 {
        font-size: 30px;
    }
    .reportsintro-popup-options {
        padding: 20px;
        padding-top: 0;
    }
    .reportsintro-popup-option {
        flex-direction: row;
        justify-content: space-between;
    }
    .reportsintro-popup-option > div:last-child {
        padding-left: 0px;
        margin-top: 0px;
    }
    .reportsintro-popup-option-left i {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .reportsintro-popup-container {
        padding: 5%;
        width: 70%;
    }
    .reportsintro-popup-options {
        padding: 5%;
        padding-top: 0;
    }
    .reportsintro-popup-options label {
        font-size: 20px;
    }
    .reportsintro-popup-option-left p:first-child {
        font-size: 20px;
    }
    .reportsintro-popup-option-left p:last-child {
        font-size: 20px;
    }
}